<p>
  <b>BarCamp Buffalo (rebooted!)</b> is an ad-hoc gathering born from the desire for people to share and learn in an open environment. BarCamp Buffalo is an 
  intense event with discussions, demos, and interaction from attendees. No spectators, only participants. All attendees should give a demo, a session, or help with one. Anyone with something to contribute or with the desire to learn is welcome and invited to join.
</p>

<p>
 If you attended a prior BarCamp Buffalo, we lacked space and had altered the format -- expect the real deal now that we have lots of space (30-min presentations, multiple presentations in different rooms at every moment to give you greater choices).
</p>

<p>
  Follow <a href="https://twitter.com/BarCampBuffalo">@BarCampBuffalo</a> for more real-time updates about the events. Also check out <a href="http://www.facebook.com/BarCampBuffalo">BarCampBuffalo on Facebook</a> to get updates on future BarCamps!
</p>

<h2>BarCamp Buffalo #6</h3>
<p>
  BarCamp Buffalo is <b>February 2nd, 2013</b> at Medaille College with 5 classrooms for 5 tracks of talks going on all at once. 30 mins each. If you've ever been to Rochester's BarCamp, this will be just like it.

  <ul>
    <li><b>8am</b>: Doors open!
    <li><b>9am</b>: Talks start!
    <li><b>5pm</b>: Wrap up and meetup for after party
  </ul>
  Help spread the word to your friends <a href="http://www.facebook.com/events/215769481869984/">on Facebook</a>!
</p>

<!--
<div id="gMap">
  <iframe width="745" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=206245297805510026235.0004bfa4c9b9a4784613f&amp;ie=UTF8&amp;t=m&amp;ll=42.881876,-78.877287&amp;spn=0.011006,0.031972&amp;z=15&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?msa=0&amp;msid=206245297805510026235.0004bfa4c9b9a4784613f&amp;ie=UTF8&amp;t=m&amp;ll=42.881876,-78.877287&amp;spn=0.011006,0.031972&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">BarCamp Buffalo</a> in a larger map.</small>
</div>
-->

<h3>2013 Sponsors</h3>

<ul id="sponsors">
  <li><a href="http://infotechniagara.org/"><%= image_tag "infotech_logo.png" %></a></li>
  <li><a href="http://coworkbuffalo.com/"><%= image_tag "coworkbuffalo_logo.png" %></a></li>
  <!-- <li><a href="http://synacor.com/"><%= image_tag "synacor.png" %></a></li> -->
</ul>
