<p>
  <h3>Talk Schedule - Before Lunch</h3>
  <table id="before">
    <tr>
      <th>Room</th>
      <th>10:00</th>
      <th>10:30</th>
      <th>11:00</th>
      <th>11:30</th>
      <th>12:00</th>
    </tr>
    <tr>
      <td>208</td>
      <td>Secrets in Gov't</td>
      <td>20 topics in 20 minutes</td>
      <td>Life Hacking</td>
      <td>Intermediate Python in a toy VM implementation</td>
      <td>Tech events in Buffalo - How to run &amp; New ones coming this year</td>
    </tr>
    <tr>
      <td>207</td>
      <td>To Bring You My Love of DuckDuckGo</td>
      <td>Web Scraping with Node.JS</td>
      <td>Let's Go - Intro to the Go Programming Language</td>
      <td>Diving into Open Source</td>
      <td>Hackerspace + Intro to 3D Printing</td>
    </tr>
    <tr>
      <td>204</td>
      <td>Web 3.0 Mashups Viz Linked Data</td>
      <td>Art of Readable Code</td>
      <td>Web Typography</td>
      <td>Testing with Sauce Labs</td>
      <td>How to be Loud! PA Loudspeaker Design</td>
    </tr>
    <tr>
      <td>206</td>
      <td></td>
      <td>Sipping from a Flask - Python Web Apps</td>
      <td>Creating Cinemagraphs</td>
      <td>Min/Maxing Credit Cards</td>
      <td>Why isn't your website responsive?</td>
    </tr>
    <tr>
      <td>216</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <h3>Talk Schedule - After Lunch</h3>
  <table id="after">
    <tr>
      <th>Room</th>
      <th>1:30</th>
      <th>2:00</th>
      <th>2:30</th>
      <th>3:00</th>
      <th>3:30</th>
      <th>4:00</th>
      <th>4:30</th>
    </tr>
    <tr>
      <td>208</td>
      <td>20 Minute Hackathon</td>
      <td>How RubyGems.org got hacked</td>
      <td>Singleton Slinging (Using Ruby meta programming to solve interesting situations)</td>
      <td>Intro to the R programming language</td>
      <td>Solving games of Chess</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>207</td>
      <td>Easy Marketing Planning</td>
      <td>AngularJS</td>
      <td>Rapid Ideation</td>
      <td>6 Second Storytelling</td>
      <td>30 things in 30 minutes</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>204</td>
      <td>Sysadmins Rule!</td>
      <td>10 Simple Words</td>
      <td>Paradox of Choice + F2P</td>
      <td>NomZen or Fixing your problems with food</td>
      <td>Being αlpha</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>206</td>
      <td>Automation Design &amp; Documentation</td>
      <td></td>
      <td>From Open Source to Open Work - Gittip</td>
      <td></td>
      <td>My language is better than yours! (or is it?)</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>216</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</p>
<p>
  <b>BarCamp Buffalo (rebooted!)</b> is an ad-hoc gathering born from the desire for people to share and learn in an open environment. BarCamp Buffalo is an 
  intense event with discussions, demos, and interaction from attendees. No spectators, only participants. All attendees should give a demo, a session, or help with one. Anyone with something to contribute or with the desire to learn is welcome and invited to join.
</p>

<p>
 If you attended a prior BarCamp Buffalo, we lacked space and had altered the format -- expect the real deal now that we have lots of space (30-min presentations, multiple presentations in different rooms at every moment to give you greater choices).
</p>

<p>
  Follow <a href="https://twitter.com/BarCampBuffalo">@BarCampBuffalo</a> for more real-time updates about the events. Also check out <a href="http://www.facebook.com/BarCampBuffalo">BarCampBuffalo on Facebook</a> to get updates on future BarCamps!
</p>

<h2>BarCamp Buffalo #6</h3>
<p>
  BarCamp Buffalo is <b>February 2nd, 2013</b> at Medaille College with 5 classrooms for 5 tracks of talks going on all at once. 30 mins each. If you've ever been to Rochester's BarCamp, this will be just like it.

  <ul>
    <li><b>8:00 am</b>: Doors open at Huber Hall! Breakfast and registration</li>
    <li><b>9:00 am</b>: Welcome and Intro's</li>
    <li><b>9:30 am</b>: Talks begin!</li>
    <li><b>5:00 pm</b>: Wrap up and meetup for after party</li>
  </ul>
</p>

<h2>Directions</h2>

<div id="gMap">
  Here's <a href="http://goo.gl/maps/b2Dcy">a map to Medaille</a>.</small>
  <iframe width="745" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Medaille+College,+18+Agassiz+Circle,+Buffalo,+NY&amp;aq=0&amp;oq=Medaille+&amp;sll=42.746632,-75.770041&amp;sspn=5.122531,10.656738&amp;ie=UTF8&amp;hq=Medaille+College,+18+Agassiz+Circle,+Buffalo,+NY&amp;ll=42.929615,-78.855342&amp;spn=0.019952,0.041628&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=2167682601108398745&amp;output=embed"></iframe>
</div>

<div id="gMap">
  The pin is where <a href="http://goo.gl/maps/b2Dcy">Huber Hall</a> is located on campus.</small>
  <iframe width="745" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=206245297805510026235.0004d476db7bbba04a714&amp;ie=UTF8&amp;t=h&amp;ll=42.928211,-78.855379&amp;spn=0.00275,0.007993&amp;z=18&amp;output=embed"></iframe>
</div>

<p>
  <b>Parking:</b> When entering Medaille College's main entrance, follow the signs with balloons on them. You'll turn left when you enter, and it'll circle you clockwise around the buildings to the back. Plenty of parking available, look for the balloons for the door entrance.
</p>

<h2>2013 Sponsors</h2>

<ul id="sponsors">
  <li><a href="http://medaille.edu/"><%= image_tag "medaille.jpg" %></a></li>
  <li><a href="http://infotechniagara.org/"><%= image_tag "infotech_logo.png" %></a></li>
  <li><a href="http://synacor.com/"><%= image_tag "synacor.png" %></a></li>
  <li><a href="http://youandwho.com/"><%= image_tag "you-and-who.jpg" %></a></li>
</ul>

<p>
  Email <a href="mailto:steve@vestedventures.com">Steve Poland</a> for information on supporting this event and ensuring the all-volunteer effort behind this event can continue to make these happen for the Buffalo tech community. Thank you for your support!</a>
</p>
