<div id="info">
  <h2>Info about BarCamp Buffalo</h2>

  <p>
    Never been to BarCamp Buffalo? Never been to any BarCamp? It can be a little intimidating to be told that if you attend, you should present. At BarCamp Buffalo, we are a little looser on those rules, because we understand the intimidation factor. We would rather you come and just experience it, than not come because you don't have a presentation. Hopefully after reading this page, you'll understand what happens at BarCamp Buffalo, and maybe you'll be more comfortable going in.
  </p>
  <div class="howToHeading hth_before"><div class="howToHeadingText">Before BarCamp</div></div>
  <div class="eventTimeDetails">
    <h2>Register for BarCamp Buffalo</h2>
    <p>
      Registration is extremely important for us. BarCamp is free, and we accept anyone, even if they sign up day of, but we like to have approximate numbers about a week before the event. This helps us coordinate food and t-shirt purchases. So head on over to <% link_to "our registration page", new_registration_path %> and sign up! If you do plan to present, you don't have to know your topic yet, just fill it out before the event!
    </p>
    <h2>Prepare a Presentation</h2>
    <p>
      Even if you are nervous about presenting, or don't want to present... come up with something you are passionate about, and prepare a 10 minute presentation. We will not make you present it if you are not comfortable. Once you have a presentation though, you <i>can</i> present if you choose to. Many first time attendees, after watching the first presentations of the day, are much more comfortable giving their own in the afternoon. Make sure you print any notes you might need - just in case there are projection technical difficulties.
    </p>
    <h2>Tell Your Friends</h2>
    <p>
      BarCamp is nothing without it's <%= link_to "attendees", registrations_path %>. The more people that come to BarCamp, the better! Have a friend that might be interested in learning something new? A friend that is doing something really cool at work, or as a side project? Invite them! BarCamp Buffalo is free, and you get free stuff! Check it out, and invite others to experience it. Worst case scenario? You get a good meal, a t-shirt, and a little less sleep that morning.
    </p>
  </div>
  <div class="howToHeading hth_during"><div class="howToHeadingText">During BarCamp</div></div>
  <div class="eventTimeDetails">
    <h2>Watch Presentations</h2>
    <p>Check out presentations about stuff you are already interested in. Throw in some other presentations about stuff you've never heard about. Tweet about what is awesome (or maybe about what is horrible?). Ask questions, be involved.</p>
    <h2>Give Your Own Presentation</h2>
    <p>Now that you've seen a few presentations, and aren't as intimidated as you were before you woke up, throw your placard on the wall on give one yourself. Talk about something you care about, and you can share that passion with others. It's rewarding and exciting. Presentations should be about 10 minutes with 5 minutes at the end for questions and answers (and setup time for the next presenter).</p>
  </div>

  <div class="howToHeading hth_after" ><div class="howToHeadingText">After BarCamp</div></div>
  <div class="eventTimeDetails">
    <h2>Write about BarCamp Buffalo</h2>
    <p>Do you have a blog? Write about your experience - positive OR negative. We really hope it was a positive experience, but let us know if it wasn't. Tell your friends what is was like. Make sure to follow the people you met on twitter. Keep the conversation going, and build friendship and relationships. When the next event approaches, if you liked this one, promote it yourself and get excited about coming up with another presentation about something you are passionate about.</p>
    <h2>Get Involved</h2>
    <p>We are always looking for help. If you have an idea that you can help implement, let us know, tweet at us! If you work for a company that likes to sponsor these kinds of events, let the people who make those decisions know about us. Tell them what you thought, and if it's valuable to them. BarCamp Buffalo is only successful because of people like you who come to our events and make it what it is.</p>
  </div>
</div>
