h2 {
  margin-bottom: 1em;
}

#gMap {
  margin-bottom: 1em;
}

#sponsors {
  list-style-type: none;
  text-align: center;

  li {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
  }
}

