#info {
  margin-top: 2em;

  h2 {
    font-size: 28px;
  }

  .howToHeading {
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 110px;
    height: 100px;
  }
  .howToHeadingText {
    font-size: 40px;
    font-weight: bold;
    padding-top: 23px;
  }

  .hth_before {
    background-image: url('/assets/pencilicon2.png');
  }

  .hth_during {
    background-image: url('/assets/chaticon2.png');
  }

  .hth_after {
    background-image: url('/assets/beericon2.png');
  }
}
